<div class="text-center">
  <div class="grid place-items-center">
    <%= image_tag 'YourBirthGame.png', height: '300', width: '300' %>
  </div>
  <h1 class="font-bold text-red-300 text-6xl my-4">Your Birth Game</h1>
  <p class="text-2xl">あなたの誕生日と同じ発売日のゲームは何かな？</p>
    <%= link_to "スタート", new_users_path, class: "btn btn-wide bg-yellow-400 hover:bg-red-300 text-white text-xl my-8" %>
</div>
