<div class="text-center">
  <div class="grid place-items-center">
    <%= image_tag 'YourBirthGame.png', height: '300', width: '300' %>
  </div>
  <h1 class="text-secondary">YourBirthGame</h1>
  <p>あなたの誕生日と同じ発売日のゲームは何かな？？</p>
</div>
